[Unit]
Description=Isolate traffic from relay services into a custom VRF
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/sbin/relay-isolation
