[Match]
Name=dtls

[Link]
# RequiredForOnline=no
# ActivationPolicy=always-up

[Network]
VRF=relay-isolation
ConfigureWithoutCarrier=yes

# DTLS proxy
[Route]
Destination=fd02::/16
