[Unit]
Description=Stateless ICE interception
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=masquerade
Restart=always
Environment=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"
WorkingDirectory=/opt/masquerade
ExecStart=/opt/masquerade/bin/ice-dissolve -i ice-dissolve
