[Unit]
Description=Stateless Relay using the TURN wire format over UDP
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=masquerade
Restart=always
Environment=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"
WorkingDirectory=/opt/masquerade
ExecStart=/opt/masquerade/bin/turnserver-udp -i turn-udp -m "::ffff:0:0/96<->2a01:4ff:1f0:7e46:0:1::/96,2000::/3<->A000::/3"
