[Unit]
Description=DTLS proxy
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=masquerade
Group=masquerade
Restart=always
Environmnet=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"
ExecStart=/usr/sbin/dtls-proxy -i dtls -c /var/opt/cert.pem
