[Unit]
Description=Capture packets

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
ExecStart=tcpdump -i any -w /var/tmp/trace -G 21600 -K not tcp port 22

