[Unit]
Description=DTLS proxy
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=masquerade
Restart=always
WorkingDirectory=/opt/masquerade
Environment=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"

ExecStart=/opt/masquerade/bin/dtls-proxy -i dtls
