[Unit]
Description=Pseudo-VPN gateway speaking the TURN wire format
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=masquerade
Restart=always
Environment=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"
WorkingDirectory=/opt/masquerade
ExecStart=/opt/masquerade/bin/turn-gateway -i turn
