[Match]
Name=dtls

[Link]
RequiredForOnline=no
ActivationPolicy=up

[Network]
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes
VRF=relay-isolation

# DTLS proxy
[Route]
Destination=fd02::/16
