[Match]
Name=relay-isolation

[Network]
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes
Address=fd00:1::/8

# Forbid IPv4
[Route]
Destination=0.0.0.0/0
Type=blackhole
Table=1

# Add routes for relay services into the main table (This is really just so that Kernel generated SCTP Aborts can find their way back into the VRF as intended.)
[Route]
Destination=fd00::/8
