[Match]
Name=sctp

[Network]
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes
VRF=relay-isolation

# sctp-vpn allocated addresses
[Route]
Destination=fd04:1::/64
