[Match]
Name=turn

[Link]
RequiredForOnline=no
ActivationPolicy=up

[Network]
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes
VRF=relay-isolation

# TURN UDP
[Route]
Destination=::/0

# TURN TCP for Site 1 (us)
[Route]
Destination=fd01:1::/64
